html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    
    max-width: 800px;
    
    margin:auto;
    
}
:root {
    --primary: #40bf95;
    --spacer: 1rem;
    --primary-hue: 160;
    --primary: hsla(var(--primary-hue),50%,50%,1);
    --primary-dark: hsla(var(--primary-hue),100%,10%,1);
    --primary-light: hsla(var(--primary-hue),50%,50%,0.6);
}
p {
    padding-left: calc(var(--spacer)*3);
    color: hsla(var(--primary-hue),100%,10%,1);;
}
img {
    padding-left: calc(var(--spacer)*1);
    padding-right: calc(var(--spacer)*1);
    margin-bottom: var(--spacer);
}
section img {
    width: 175px;
    height: 400px;
    float: left;
    margin: var(--spacer);
    margin-left: calc(var(--spacer)*0.2);
    
}
section {
    background-color: hsla(160, 50%, 50%, 1);
    border-bottom: dotted #003322;
    margin-right: var(--spacer);
    margin-left: var(--spacer);
    display: flow-root;
    padding-right: calc(var(--spacer) * 3);
    padding-left: var(--spacer);
    text-align: justify;
    
}
section:last-child {
    border:unset;
}

nav {
    text-align: center;
    
}

nav li {
    display: inline-block;
    background-color: hsla(var(--primary-hue),50%,50%,0.6);
    border: 5px solid hsla(var(--primary-hue),100%,10%,1);
    border-right: none; 
    border-top: none;
    height:calc(var(--spacer)*3);
    
    
    
    
}

nav li:hover {
    background-color: hsla(228, 38%, 43%, 0.6);
    
}

nav a {
    color: hsla(var(--primary-hue),100%,10%,1);
    text-decoration: none;
    padding: var(--spacer);
    
    
}
nav a:hover {
    color:var(--primary);
}

a:focus {
    color:darkmagenta;
}

h1 {
    font-size: 35pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary);
    text-shadow: -2px 2px 0 hsla(var(--primary-hue),100%,10%,1);
    
}

header {
    background-image: url(https://picsum.photos/1200/300) ;
    min-height: 300px;
    padding: var(--spacer);
    text-align: center;
}

main {
    background-color:  hsla(228, 38%, 43%, 0.6);
    padding: var(--spacer);
    padding-bottom:unset;
}
h2 {
    padding-left: calc(var(--spacer)*3);
    color: hsla(var(--primary-hue),100%,10%,1);
}

main img {
    max-width: 100%;
    height: auto;
}
h3 {
    clear: both;
    margin-left: var(--spacer);
    padding-top: var(--spacer);
    color: hsla(var(--primary-hue),100%,10%,1);
}
section:first-child img {
    float:right;
    
}
/*
    background image: https://picsum.photos/1200/300
    primary color: hsla(160, 50%, 50%, 1);
    primary: #40bf95;
    dark: #003322;
    semi-transparent: #40bf9599;
*/