html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    
    max-width: 800px;
    
    margin:auto;
    
}
section img {
    width: 175px;
    height: 400px;
    float: left;
    margin: 20px;
    
}
section {
    background-color: hsla(160, 50%, 50%, 1);
    border-bottom: dotted #003322;
    margin-right: -3rem;
    display: flow-root;
    padding-right: 20px;

    
    
}
nav {
    text-align: center;
}

nav li {
    display: inline-block;
    background-color: #4599; 
}
nav a {
    color:thistle;
    text-decoration: none;
    padding: 10px;
}
a:focus {
    color:darkmagenta;
}

h1 {
    font-size: 35pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: thistle;
}

header {
    background-image: url(https://picsum.photos/1200/300) ;
    min-height: 300px;
    padding: 50px 10px;
    text-align: center;
}

main {
    background-color:  #4599;
    padding: 50px;

}
main img {
    max-width: 100%;
    height: auto;
}
h3 {
    clear: both;
    margin-left: 10px;
    padding-top: 10px;
}
/*
    background image: https://picsum.photos/1200/300
    primary color: hsla(160, 50%, 50%, 1);
    primary: #40bf95;
    dark: #003322;
    semi-transparent: #40bf9599;
*/